@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

#body-grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  max-width: 1600px;
}

.skip-link {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  top: -500rem;
  left: -500rem;
}
.skip-link:focus {
  left: 15rem;
  top: 0.5rem;
  background-color: rgb(231, 231, 231);
}

.hidden {
  display: none;
}

#header-flex {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  grid-area: header;
}
#header-flex a {
  color: #000;
  font-family: "Poppins", sans-serif;
}
#header-flex nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#header-flex nav ul li {
  list-style-type: none;
  text-align: center;
}
#header-flex nav ul li #contact_page_navigation {
  background-color: #e6bd43;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  display: block;
  margin: 0.8rem 0 0 0rem;
}
#header-flex nav ul .current_page_navigation {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #e6bd43;
  text-underline-offset: 0.2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.logo img {
  width: 100px;
  height: 100px;
}

#main-index, #about-main {
  grid-area: main;
}
#main-index #compeling_section_1_background, #about-main #compeling_section_1_background {
  position: relative;
  overflow: hidden;
}
#main-index #compeling_section_1_background .background-image-container, #about-main #compeling_section_1_background .background-image-container {
  background-image: url(../img/laptop-phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -2;
}
#main-index #compeling_section_1_background video, #about-main #compeling_section_1_background video {
  display: none;
}
#main-index #compeling_section_1_background #compeling_1, #about-main #compeling_section_1_background #compeling_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 4rem 2.5rem 4rem 2.5rem;
}
#main-index #compeling_section_1_background #compeling_1 h1, #about-main #compeling_section_1_background #compeling_1 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
#main-index #compeling_section_1_background #compeling_1 p, #about-main #compeling_section_1_background #compeling_1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
#main-index #compeling_section_1_background #compeling_1 a, #about-main #compeling_section_1_background #compeling_1 a {
  color: #000;
  background-color: #e6bd43;
  padding: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#main-index #compeling_section #compeling_2, #about-main #compeling_section #compeling_2 {
  padding: 4rem 2.7rem 4rem 2.7rem;
}
#main-index #compeling_section #compeling_2 p, #about-main #compeling_section #compeling_2 p {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
#main-index #compeling_section #compeling_2 p:focus, #about-main #compeling_section #compeling_2 p:focus {
  outline: 2px transparent;
}
#main-index #compeling_section #compeling_2 h2, #about-main #compeling_section #compeling_2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
#main-index #compeling_section2, #about-main #compeling_section2 {
  background-color: #e6bd43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-index #compeling_section2 img, #about-main #compeling_section2 img {
  max-width: 100%;
  padding: 2.5rem;
}
#main-index #compeling_section2 article, #about-main #compeling_section2 article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2.5rem 5.5rem 4rem 5.5rem;
}
#main-index #compeling_section2 article h2, #about-main #compeling_section2 article h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#main-index #compeling_section2 article p, #about-main #compeling_section2 article p {
  font-size: 1.3rem;
}
#main-index #compeling_section2 article a, #about-main #compeling_section2 article a {
  border: #000 solid 3px;
  padding: 1.1rem;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#main-index .icons, #about-main .icons {
  width: 150px;
  height: 150px;
}
#main-index #services, #about-main #services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#main-index #services h2, #about-main #services h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 4rem;
}
#main-index #services #branding-elements, #about-main #services #branding-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#main-index #services #branding-elements article, #about-main #services #branding-elements article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 250px;
  gap: 1rem;
}
#main-index #services #branding-elements article h3, #about-main #services #branding-elements article h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
#main-index #services #branding-elements article p, #about-main #services #branding-elements article p {
  padding: 0 2rem 0 2rem;
  text-align: center;
}
#main-index #newsletter, #about-main #newsletter {
  padding: 4rem 1.5rem 3rem 1.5rem;
  margin-top: 4rem;
  background-color: rgb(235, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
#main-index #newsletter h2, #about-main #newsletter h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
#main-index #newsletter form input, #about-main #newsletter form input {
  padding: 1rem;
  border: none;
}
#main-index #newsletter form button, #about-main #newsletter form button {
  background-color: #e6bd43;
  padding: 1rem;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

#portofolio-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portofolio-main #portofolio-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 20rem;
}
#portofolio-main #portofolio-background #portofolio-background-picture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/laptop-phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}
#portofolio-main #portofolio-background h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  z-index: 1;
}
#portofolio-main #portofolio-content {
  padding: 3rem 3rem 0 3rem;
}
#portofolio-main #portofolio-content nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
#portofolio-main #portofolio-content nav h2 {
  width: 100%;
  margin-bottom: 3rem;
  border-bottom: 3px solid #e6bd43;
  padding-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#portofolio-main #portofolio-content nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
#portofolio-main #portofolio-content nav ul li a {
  color: #000;
  border: 1px solid black;
  padding: 0.5rem;
}
#portofolio-main #portofolio-content section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
#portofolio-main #portofolio-content section article {
  flex-grow: 1;
  max-width: 692px;
}

.portofolio-subheading {
  margin: 1rem 0 2rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}

.portofolio-headings {
  width: 100%;
  margin: 3rem 0 3rem 0;
  border-bottom: 3px solid #e6bd43;
  padding-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}

.images {
  width: 100%;
  min-width: 200px;
  height: auto;
}

#about-main {
  grid-area: main;
}
#about-main #about-background {
  background-image: url(../img/laptop-phone.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 1rem;
}
#about-main #about-background #about-background-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2rem;
  padding: 3rem;
}
#about-main #about-background #about-background-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#about-main #about-background #about-background-content span {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  text-align: left;
}
#about-main #about-background #about-background-content a {
  color: #000;
  background-color: #e6bd43;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#about-main #about-clients {
  margin-top: 2rem;
  background-color: #e6bd43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about-main #about-clients h2 {
  padding: 3rem;
}
#about-main #about-clients h2:focus {
  outline: 2px transparent;
}
#about-main #about-clients article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
#about-main #about-clients article img {
  width: 25vw;
  min-width: 150px;
  max-width: 200px;
  height: auto;
  padding: 1rem;
}
#about-main #about-contact-container {
  display: grid;
  grid-template-areas: "contact-title" "contact-us" "contact-information";
  padding: 2rem;
  background-color: rgb(245, 242, 242);
}
#about-main #about-contact-container h2 {
  grid-area: contact-title;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 3rem 0 5rem 0;
}
#about-main #about-contact-container #contact-us {
  grid-area: contact-us;
}
#about-main #about-contact-container #contact-us h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#about-main #about-contact-container #contact-us form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
#about-main #about-contact-container #contact-us form label {
  font-family: "Poppins", sans-serif;
  font-size: 1 0.5rem;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding: 0.3rem 0 0.3rem 0;
}
#about-main #about-contact-container #contact-us form input {
  padding: 1rem;
  outline: none;
  border: none;
}
#about-main #about-contact-container #contact-us form textarea {
  height: 16vh;
  padding: 0.2rem;
  border: none;
}
#about-main #about-contact-container #contact-us form button {
  margin: 0.5rem 1rem 2rem 0;
  width: 40%;
  background-color: #e6bd43;
  padding: 0.8rem;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#about-main #about-contact-container #contact-information {
  grid-area: contact-information;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 1.3rem;
  background-color: rgb(245, 242, 242);
}
#about-main #about-contact-container #contact-information h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
#about-main #about-contact-container #contact-information ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 1rem;
}
#about-main #about-contact-container #contact-information ul li {
  padding: 0.2rem;
}
#about-main #about-contact-container #contact-information ul li i {
  margin-right: 1rem;
}
#about-main #about-contact-container #contact-information ul li a {
  text-decoration: underline;
}
#about-main #about-school-map {
  width: 100%;
  height: 15rem;
  margin: 0;
  padding: 0;
}
#about-main #about-school-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.about-icons {
  width: 20px;
  height: 20px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  gap: 1.5rem;
  padding: 3rem;
}
footer a img {
  width: 100px;
  height: 100px;
}
footer span {
  color: #fff;
}
footer nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
footer nav ul li a img {
  background-color: white;
  border-radius: 15%;
  width: 30px;
  height: 30px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
}
#back-to-top i {
  background-color: #252525;
  border-radius: 15%;
  padding: 2rem 1rem 2rem 1rem;
}

@media only screen and (min-width: 1230px) {
  .logo img {
    width: 130px;
    height: 130px;
  }
  #header-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  #header-flex nav ul {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  #header-flex nav ul li a {
    font-size: 1.1rem;
  }
  #header-flex nav ul li #contact_page_navigation {
    margin: 0;
  }
  #header-flex nav ul li #contact_page_navigation:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  #header-flex #back-to-top {
    bottom: 10px;
    right: 60px;
  }
  #header-flex #back-to-top img {
    width: 50px;
  }
  #body-grid {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  #body-grid main #compeling_section_1_background .background-image-container {
    display: none;
  }
  #body-grid main #compeling_section_1_background video {
    display: block;
    width: 100%;
    height: auto;
    max-height: 30rem;
    opacity: 0.6;
    object-fit: cover;
  }
  #body-grid main #compeling_section_1_background #compeling_1 {
    position: absolute;
    top: 3rem;
    margin: 0 15rem 0 15rem;
    gap: 2rem;
  }
  #body-grid main #compeling_section_1_background #compeling_1 h1 {
    font-size: 4rem;
  }
  #body-grid main #compeling_section_1_background #compeling_1 a {
    text-align: center;
    display: inline;
    align-self: center;
    width: 25rem;
  }
  #body-grid main #compeling_section_1_background #compeling_1 a:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  #body-grid main #compeling_section #compeling_2 {
    margin: 2rem 12rem 2rem 12rem;
  }
  #body-grid main #compeling_section #compeling_2 h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  #body-grid main #compeling_section2 {
    flex-direction: row;
  }
  #body-grid main #compeling_section2 img {
    padding: 3rem 0 3rem 3rem;
  }
  #body-grid main #compeling_section2 article {
    padding: 2.5rem 5.5rem 4rem 3rem;
    margin: 2rem 0rem 8rem 0rem;
  }
  #body-grid main #compeling_section2 article a {
    align-self: flex-start;
  }
  #body-grid main #compeling_section2 article a:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  #body-grid main #services h2 {
    font-size: 3rem;
  }
  #body-grid main #services #branding-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 6rem 0 6rem;
  }
  #body-grid main #newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  #body-grid main #newsletter h2 {
    font-size: 3rem;
  }
  #body-grid main #newsletter button:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  #body-grid #portofolio-main #portofolio-background h1 {
    font-size: 4rem;
  }
  #body-grid #portofolio-main #portofolio-content nav h2 {
    font-size: 3rem;
    margin-bottom: 4.5rem;
  }
  #body-grid #portofolio-main #portofolio-content nav ul li a {
    font-size: 1.1rem;
  }
  #body-grid #portofolio-main #portofolio-content nav ul li a:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  #body-grid .portofolio-subheading {
    font-size: 1.5rem;
  }
  #body-grid .portofolio-headings {
    font-size: 3rem;
  }
  #body-grid .images {
    transform: scale(1);
    transition: transform 0.8s ease-in-out;
  }
  #body-grid .images:hover {
    transform: scale(1.06);
  }
  #body-grid #about-main #about-background #about-background-content {
    margin-left: auto;
    margin-right: 0;
    max-width: 50%;
  }
  #body-grid #about-main #about-background #about-background-content a {
    max-width: 35%;
  }
  #body-grid #about-main #about-background #about-background-content a:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  #body-grid #about-main #about-clients article {
    gap: 2rem;
  }
  #body-grid #about-main #about-contact-container {
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    grid-template-areas: "contact-title contact-title" "contact-us contact-information";
  }
  #body-grid #about-main #about-contact-container #contact-us {
    margin-left: 5rem;
  }
  #body-grid #about-main #about-contact-container #contact-us button {
    padding: 1rem;
    width: 30%;
  }
  #body-grid #about-main #about-contact-container #contact-us button:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  #body-grid #about-main #about-contact-container #contact-information {
    margin-right: 5rem;
  }
  #body-grid #about-main #about-contact-container h2 {
    font-size: 3rem;
    padding: 0;
  }
  #body-grid footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */